.dots
lazy-lock.json
vars.toml
niri/dms/
dms/.changelog*
dms/.firstlaunch
dms/plugins/.repos/
dms/plugins/netbirdStatus
dms/plugins/netbirdStatus.meta
dms/plugins/dankHooks
dms/plugins/dankHooks.meta

