.dots
lazy-lock.json
.dotter/local.toml
.dotter/cache.toml
.dotter/cache/
.dotter/cache.system.toml
.dotter/cache.system/
niri/dms/
dms/.changelog*
dms/.firstlaunch
dms/plugins/.repos/
dms/plugins/netbirdStatus
dms/plugins/netbirdStatus.meta
dms/plugins/dankHooks
dms/plugins/dankHooks.meta
