animations {
    window-open {
        duration-ms 250
        curve "ease-out-quad"
        // curve "cubic-bezier" 0.39 0.57 0.56 1 // easings.co - easeOutSine
    }

    window-close {
        duration-ms 250
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        duration-ms 250
        curve "ease-out-quad"
    }

    workspace-switch {
        duration-ms 250
        curve "ease-out-quad"
    }

    window-movement {
        duration-ms 250
        curve "ease-out-quad"
    }

    window-resize {
        duration-ms 250
        curve "ease-out-quad"
    }

    overview-open-close {
        duration-ms 250
        curve "ease-out-quad"
    }

    config-notification-open-close {
        duration-ms 250
        curve "ease-out-quad"
    }

    exit-confirmation-open-close {
        duration-ms 250
        curve "ease-out-quad"
    }

    screenshot-ui-open {
        duration-ms 250
        curve "ease-out-quad"
    }

    recent-windows-close {
        duration-ms 250
        curve "ease-out-quad"
    }
}
