input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
    warp-mouse-to-focus

    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="20%"

    mod-key "Super"

    tablet {
      map-to-output "LG Electronics LG ULTRAGEAR 0x000564C3"
      left-handed
    }
}
