spawn-at-startup "bombadil" "watch"

screenshot-path "~/Pictures/Screenshots/%Y%m%d-%H%M%S.png"

environment {
    QT_QPA_PLATFORM "wayland"
}

cursor {
    xcursor-theme "catppuccin-mocha-dark-cursors"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 3000
}

xwayland-satellite {
    path "xwayland-satellite"
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}
